node_modules/
default-*.json
.env
.yo-rc.json
coverage/
gen/
dist/
local/
mta_archives/
manifest-bundle.zip
connection.properties
*-private.http
*-private.json
*-private.MD
*-private.mtaext
*-private.yaml
*-private.tfvars
*.db
*.mtar
*.mta
*.log
*.zip
_out
.che/
.gen/
.DS_Store
*.sqlite
*.private.*
*.sqlite
# exclude sample file
!default-*.sample.json
!APIProxy*.zip
!fts.zip
!ext.zip
Makefile