apiVersion: v1
kind: Secret
metadata:
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/resource-policy: keep
  name: {{ template "capApplicationVersionName" . }}-brk-cred
type: Opaque
data:
  BROKER_USER : {{ "broker-user" | b64enc | quote }}
  {{- $password := (randAlphaNum 32  | b64enc ) }}
  BROKER_PASSWORD : {{ $password | quote }}
  {{- $salt := ( randAlphaNum 32  ) }}
  {{- $hash := printf "sha256:%s:%s" ( $salt | b64enc ) ( ( printf "%s%s" $salt $password ) | sha256sum | b64enc ) }}
  BROKER_HASH : {{ $hash | b64enc | quote }}
