/* Enter your custom styles here */

.susaasBackground {
    /* The image used */
    background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.susaasHomeTitle {
    color: #d7d9d7;
}

