global:
  imagePullSecret: {}
  image: {}
  partOf: obd
  component: srv
  domain: 
  gateway: 
  router:
    name: 
    fullName: 
  
port: 8080

serviceAccount:
  enabled: true # If true, own serviceAccount (<<ReleaseName>>-obd) used by pod, otherwise "default" serviceAccount
  automountToken: true # If true, token of the assigned serviceAccount (default or fullname) automounted
  roleBinding:
    enabled: true # If true, own clusterRole (<<ReleaseName>>-obd) bound to own serviceAccount (<<ReleaseName>>-obd)

image: {}
imagePullSecret: {}
additionalVolumes: []

# High-Availability Settings
ha:
  enabled: true
  pdb:
    minAvailable: 1

hpa:
  enabled: true
  minReplicaCount: 1 # To use High-Availability set minReplicaCount to at least 2
  maxReplicaCount: 3
  cpuTargetAverageUtilization: 80
  cpuTargetAverageValue:

health_check:
  liveness:
    path: /healthz
  readiness:
    path: /healthz

startupTimeout: 60
resources:
  limits:
    ephemeral-storage: 
    memory: 
  requests:
    ephemeral-storage: 
    cpu: 
    memory: 

envSecretNames: []

envSecretNamesTpl: 
  - "{{ .Release.Name }}-btp-admin"